<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <script src="{% static 'frontend.js'%}"></script>
    <style>
      body{background-color: #1E1F31;}
    </style>
  </head>

<body >
  
    {%if p%}
    <table style="width:100%" id="mytable" class="content-table" > 
        <thead> 
        <tr>
          <th style="width:10%; font-weight: bold;">Username</th>
          <th style="width:10%; font-weight: bold;">TITLE</th>
          <th style="width:65%; font-weight: bold;">BODY</th>
          <th style="width:5%; font-weight: bold;">Last updated by you</th>
          <th style="width:5%; font-weight: bold;">status</th>
          <th style="width:10%; font-weight: bold;">remarks</th>
          <th style="width:5%; font-weight: bold;">Last updated by admin</th>
        </tr>
        </thead>
        <tbody>
        {%for content in p%}
        <tr>
          <td style="width:20%">{{content.username1}}</td>  
          <td style="width:20%">{{content.title}}</td>
          <td style="width:70%">{{content.body}}</td>
          <td style="width:70%">{{content.date}}</td>
          <td style="width:5%">{{content.status}}</td>
          <td style="width:5%">{{content.remarks}}</td>
          <td style="width:5%">{{content.date2}}</td>
        </tr>
        {%endfor%}
        </tbody> 
      </table>
    {%else%}
    <div class="wave">
      <img src="{% static 'images/wave.svg'%}">
    </div>
    {%endif%}
    

</body>
</html>
